<div class="row">
	<div class="col s12">
		<ul class="tabs tabs-fixed-width">
			<li class="tab"><a href="#" class="active">Rifa Actual</a></li>
			<li class="tab"><a href="#" onclick="apretaste.send({command: 'RIFA TICKETS'})">Tickets</a></li>
			<li class="tab"><a href="#" onclick="apretaste.send({command: 'RIFA GANADORES'})">Ganadores</a></li>
		</ul>

		<p>Estamos contentos de poder traerles nuestra rifa. Canjee sus créditos por tickets y prepárese para ganar. El <b><%= moment(raffle.end_date).format('D [de] MMMM [a las] h:mm A') %></b> pondremos los tickets en un bombo y le escribiremos a los ganadores.</p>

		<img class="fullscreen" src="{{APP_SERVICE_PATH}}/images/rifa.jpg" alt="Artículo a rifar">

		<p><%= raffle.item_desc %></p>

		<span class="chip"><i class="material-icons icon">local_offer</i> Usted tiene <%= raffle.tickets %> ticket(s)</span>

		<div class="note grey-text">Si la cantidad es incorrecta, refresque tocando el botón en la barra verde de arriba (las dos flechas que forman un círculo).</div>
	</div>
</div>

<div class="fixed-action-btn">
	<a class="btn-floating btn-large green modal-trigger" href="#shareModal">
		<i class="material-icons">share</i>
	</a>
</div>

<!-- SHARE MODAL -->
<% init(raffle) %>
<div id="shareModal" class="modal">
	<div class="modal-content">
		<div class="input-field">
			<textarea id="message" class="materialize-textarea"></textarea>
			<label for="message">Escriba un texto para compartir</label>
		</div>
		<ul class="collection one-line preview">
			<li class="collection-item avatar" style="min-height: 60px;">
				<i class="fas fa-<%= share.icon %> material-icons circle"></i>
				<span class="title"><%- share.text %></span>
			</li>
		</ul>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-close waves-effect waves-light btn-flat">Cerrar</a>
		<a onclick="share.send()" class="modal-close waves-effect waves-green green-text btn-flat">Enviar</a>
	</div>
</div>