<div class="row">
	<div class="col s12">
		<ul class="tabs tabs-fixed-width">
			<li class="tab"><a href="#" onclick="apretaste.send({command: 'RIFA'})">Rifa Actual</a></li>
			<li class="tab"><a href="#" onclick="apretaste.send({command: 'RIFA TICKETS'})">Tickets</a></li>
			<li class="tab"><a href="#" class="active">Ganadores</a></li>
		</ul>

		<% winners.forEach(function(w){ %>
			<h2><%= w.startDate %></h2>
			<ul class="collection">
				<li class="collection-item avatar">
					<div class="person-avatar circle" face="<%= w.w1Avatar %>" color="<%= w.w1AvatarColor %>" size="42"></div>
					<span class="title orange-text"><b>@<%= w.w1Username %></b></span>
					<p>Ganó el primer lugar de la rifa.</p>
				</li>
				<li class="collection-item avatar">
					<div class="person-avatar circle" face="<%= w.w2Avatar %>" color="<%= w.w2AvatarColor %>" size="42"></div>
					<span class="title grey-text"><b>@<%= w.w2Username %></b></span>
					<p>Ganó el segundo lugar de la rifa.</p>
				</li>
				<li class="collection-item avatar">
					<div class="person-avatar circle" face="<%= w.w3Avatar %>" color="<%= w.w3AvatarColor %>" size="42"></div>
					<span class="title brown-text"><b>@<%= w.w3Username %></b></span>
					<p>Ganó el tercer lugar de la rifa.</p>
				</li>
			</ul>
		<% }) %>
	</div>
</div>